{% extends "main.html" %}

{% block content %}
    <main role="main" style="display: flex; flex-direction: column;  gap: 20px">
        {% for ticket in tickets %}
            <div style="display: flex; flex-direction: column">
                <div>
                    Имя: {{ ticket.name }}
                </div>
                <div>
                    Отзыв: {{ ticket.comment }}
                </div>
            </div>
        {% endfor %}
        <form action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </main>
    {% include "shared/footer.html" with version=version %}
{% endblock content %}